
Language: Cpp
Standard: Latest
ColumnLimit: 140
BreakBeforeBraces: Allman
BasedOnStyle: WebKit
PointerAlignment: Left
ReferenceAlignment: Left
UseTab: ForContinuationAndIndentation
TabWidth: 4

AlignOperands: Align
BreakBeforeBinaryOperators: None

MaxEmptyLinesToKeep: 2
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: LogicalBlock


AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive 
AlignConsecutiveDeclarations: Consecutive  
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
  
Cpp11BracedListStyle: true
DerivePointerAlignment: false
IndentPPDirectives: None
SpaceBeforeCpp11BracedList: false
NamespaceIndentation: All
SortIncludes: CaseSensitive
FixNamespaceComments: true
SpaceAfterTemplateKeyword: false
AlwaysBreakTemplateDeclarations: Yes
RequiresClausePosition: OwnLine
IndentRequiresClause: false

PenaltyIndentedWhitespace: 2
ContinuationIndentWidth: 2

AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true

IntegerLiteralSeparator:
    Binary: 4
    Decimal: 3
    Hex: 4
    DecimalMinDigits: 6
    HexMinDigits:    4


BinPackArguments: false
BinPackParameters: true

IncludeCategories:
  - Regex: '^<windows.h>'
    Priority: -200
  - Regex: '^<'
    Priority: -100
  # finally other "" includes go between system headers and our headers
  - Regex: '^"'
    Priority: 0

InsertNewlineAtEOF: true

