################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin
out
lib
.vs
build
*.zip
*.pdb
*.idb
*.lib
*.exp
*.pem
*.cmd
std.ixx
scratch.txt
log.*.txt

*.lnk
/Testing/Temporary
/build_out.txt
/build