################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin
*.pdb
*.lib
/.vs
/out/
/std.ixx
/scratch.txt
/*.cmd
/Testing/Temporary
/lib
/tools/utftables/.vs
/tools/utftables/out/build/x64-debug
/external/zstd/*.zip
/external/sqlite3/*.zip

