################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin
out
*.pdb
*.idb
*.lib
*.exp
*.pem
/.vs
/std.ixx
/scratch.txt
/*.cmd
/Testing/Temporary
/lib/
/tools/utftables/.vs
/tools/utftables/out/*
/external/*/*.zip

